/* general styles */

* {
    margin: 0;
    box-sizing: border-box;
    /*border: 1px green solid;*/
}

body{
    min-height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(233, 47%, 7%);
}

image{
    display: block;
}

h1 {
    font-family: 'Inter', sans-serif ;
    font-size: 27px;
}


p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5em;
    word-spacing: 2px7;
}

ul{
    padding: 0;
    list-style-type: none;
}

/* general styles */



.card {
    margin: 15px;
    width: 330px;
    border-radius: 15px;
    overflow: hidden;
    border: 2px hsl(277, 64%, 61%) solid;
}

.card-image {
    background-color:hsl(277, 64%, 61%);
}

.mobile-img {
    height: 100%;
    width: 100%;
    mix-blend-mode: multiply ;
}

.desktop-img {
    display: none;
}

.card-text {
    color: white;
    background-color:  hsl(244, 38%, 16%);
    text-align: center;
    padding: 30px;
}


.info span {
    color: hsl(277, 64%, 61%);
}

.info-para {
    padding-top: 15px;
    padding-bottom: 40px;
    color:hsla(0, 0%, 100%, 0.75);
}



.stat-num {
    font-family: 'Inter';
    font-size: 25px;
    font-weight: 600;
}

.stat-nam {
    color:hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca';
    font-size: 12px;
    letter-spacing: 1.5px;
    font-weight: 100;
    text-transform: uppercase;
    padding: 6px 0;
}


li {
    padding: 10px;
}





/*   Tab   styles   */


@media (min-width:600px) {

    .card {
        width: auto;
        max-width: 750px;
        margin: 80px 70px;
    }

    .card-text {
        text-align: left;
        padding: 60px;
        padding-right: 120px;
    }


    .mobile-img{
        max-width: 750px;
        max-height: 500px;
    }

    .stat-info {
        padding: 0;
    }

    
    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    li {
        padding: 0;
    }


}



/*   Desktop   styles   */


@media (min-width:1200px)  {


    
    h1 {
        font-size: 35px;
    }
    
    h2 {
        font-size: 25px;
    }
    
    h3 {
        font-size: 12px;
        letter-spacing: 1.5px;
        font-weight: 100;
    }
    
    p {
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 15px;
        line-height: 1.5em;
        word-spacing: 2px;
    }
    





    .card{
        display: flex;
        flex-direction: row;
        margin: auto;
        max-width: 1100px ;
        max-height: 500px;
        overflow: hidden;
    }


    .card-text {
        order: 1;
        text-align: left;
        padding: 60px;
        padding-right: 120px;
        width: 60%;
        min-width: 500px;
    }

    .card-image{
        order: 2;
    }

    .mobile-img{
        display: none;
    }

    .desktop-img{
        display: block;
        mix-blend-mode: multiply ;
    }

    .info-para{
        padding-top: 40px;
        padding-bottom: 70px;
    }

}